<div>
    <nav class="navbar navbar-light bg-primary d-flex justify-content-center">
            <h1 class=" mt-4" style="color: aliceblue">Inventory Manager Dashboard</h1>
        </nav>

    <div class="container d-flex p-2 bd-highlight flex-row-reverse">
        <button class="btn btn-primary" style="margin-right:100px;" (click)="resetForm()" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-add"
                viewBox="0 0 16 16">
                <path
                    d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h4a.5.5 0 1 0 0-1h-4a.5.5 0 0 1-.5-.5V7.207l5-5 6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5Z" />
                <path
                    d="M16 12.5a3.5 3.5 0 1 1-7 0 3.5 3.5 0 0 1 7 0Zm-3.5-2a.5.5 0 0 0-.5.5v1h-1a.5.5 0 0 0 0 1h1v1a.5.5 0 1 0 1 0v-1h1a.5.5 0 1 0 0-1h-1v-1a.5.5 0 0 0-.5-.5Z" />
            </svg>
            Add
        </button>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Add new Factory</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form [formGroup]="formValue">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Factory Name</label>
                            <input type="text" formControlName="factoryName" class="form-control">

                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Factory Location</label>
                            <input type="text" formControlName="factoryLocation" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" id="cancel" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" (click)="addFactory()" *ngIf="!isUpdatingFactory" class="btn btn-primary">Add</button>
                    <button type="button" (click)="updateFactory()" *ngIf="isUpdatingFactory" class="btn btn-primary">Update</button>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 container" >
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Factory Name</th>
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let factory of factories">
                    <td class="serial-no"(click)="navigateToProduct(factory.factoryId)">{{factory.factoryId}}</td>
                    <td>{{factory.factoryName}}</td>
                    <td>{{factory.factoryLocation}}</td>
                    <td>
                        <button (click)="onEdit(factory)" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            Edit</button>
                        <button (click)="deleteFactory(factory.factoryId)" class="btn btn-danger mx-3"> Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>